{%include 'includes/head.html' %}
{%include 'includes/navbar.html' %}
<center>
    <form enctype="multipart/form-data" method="POST" class="Jumbotron form-group warning-color-dark font-weight-bold"
        style="border-radius:45px; width: 500px;">
        {%csrf_token%}
        {{form}}
        <br>
        <input type="submit" value="LOGIN!" class="form-control elegant-color-dark btn white-text"
            style="height:50px; width:150px; color:black; font-weight:bolder;" /><br><br>
    </form>
</center>